.code-input {
  background-color: white;
  border-color: #ccc;
}

.code-input.filled {
  background-color: #FFEEEE;
  border-color: #7F1022;
}

.input-group {
  margin-top: 2.25rem;
  position: relative;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-custom {
    position: relative;
    width: 100%;
    background-color: white;;
    box-sizing: border-box; 
    border: 1px solid #AFAFAF;
    border-radius: 0.5rem !important;
    padding: 0.5rem;
    transition: all 0.3s ease;
    height: 3.25rem;
    font-size: 1rem;
    color: #232121;
    &::before {
        content: none;
    }
    &::after {
        content: none;
    }
  }

  .input-custom:focus, .input-custom:hover, .input-custom.filled {
    outline: none;
    border-color: #7F1022;
}

  .input-label {
    font-size: 0.75rem;
    font-weight: bold;
    position: absolute;
    left: 1px;
    color: #731022;
    pointer-events: none;
    transform: translateY(-1.2rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }

   .input-custom:focus ~ label, .input-custom.filled ~ .input-label {
    transform: translateY(-50%) scale(0.9);
    background-color: white;
    color: #7F1022;
    font-weight: bold;
    padding: 0 0.2rem;
   }
  
  .visibility-icon {
    position: absolute;
    top: 15px;
    right: 12px;  /* Alinea el icono a la derecha */
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
  }  

  .progress-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border-radius: 100%;
    background-color: #7F1022;
  }
  .progress-icon-inactive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border-radius: 100%;
    background-color: #D9D9D9;
  }